<h1>ゲーム詳細</h1>

<%= @game.game_title %><br>
<!--<amazonのAPIをいれて画像表示させたい>-->
<h5>ゲーム概要</h5>
<%= @game.game_description %><br>
<h5>ゲーム機種</h5>
<%= @game.game_model %><br>
<h5>ゲーム価格</h5>
<%= @game.price %>円<br>


  <h3>なぜ興味を持ったのか教えてください</h3>
  <%= form_with model: @review, url:public_reviews_path(@review.id), method: :post do |f| %>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <%= tag.label do %>
                    <%= tag.check_box %>
                    <%= tag.text %>
                <% end %>
        <% end %>
        <%= f.hidden_field :game_id, :value => @game.id %>
        <%= f.submit '投稿', class: 'btn btn-primary' %>
  <% end %>
