<div class="container">
  <div class="row">
    <div class=title>
      <h3>ゲーム編集</h3>
    </div>
  </div>
<%= form_with model: @game,url: admin_game_path(@game.id),method: :patch do |f| %>
　<%= f.label :ゲームタイトル%>
  <%= f.text_field :game_title %><br>
  <%= f.label :ゲーム概要%>
  <%= f.text_area :game_description %><br>
  <%= f.label :価格%>
  <%= f.text_field :price %>円(税込)<br>
  <%= f.label :機種%>
  <%= f.select :game_model, Game.game_models.keys, {prompt: '機種を選択してください'} %><br>
  <%= f.label :容量%>
  <%= f.text_field :capacity %>GB<br>
  <%= f.label :is_active,"公開ステータス" %>
  <%= f.radio_button :is_active, true %>公開中
  <%= f.radio_button :is_active, false %>未公開<br>

  <%= f.submit '編集済みにする', class:"btn btn-primary" %><br>
<% end %>
</div>