<div class="container">
  <div class="row">
    <div class=title>
      <h3>ゲーム詳細</h3>
    </div>
  </div>
      <div class="row">
        <div class="col-1"></div>
        ゲームタイトル：<%= @game.game_title %>
      </div>
      <div class="row">
        <div class="col-1"></div>
        ゲーム概要:<%= @game.game_description %>
      </div>
      <div class="row">
        <div class="col-1"></div>
        価格：<%= @game.price %>円(税込)
      </div>
      <div class="row">
        <div class="col-1"></div>
        機種：<%= @game.game_model %>
      </div>
      <div class="row">
        <div class="col-1"></div>
        容量：<%= @game.capacity %>GB
      </div>
      <div class="row">
        <div class="col-1"></div>
          <% if @game.is_active %>
            公開中
          <% else %>
            未公開
          <% end %>
      </div>
      <div class="row">
<%= link_to "ゲーム編集",edit_admin_game_path, class:"btn btn-primary w-25" %>
</div>