<h1>レビュー一覧</h1>
<%= form_tag public_reviews_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
<% end %>
<%#= collection_select(Review.where(star: [1.0, 2.0, 3.0, 4.0, 5.0]))%>
<table>
    <thead>
        <tr>
            <th>ゲームタイトル</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @reviews.each do |review| %>
        <tr>
            <td><%= review.game.game_title %></td>
            <td>
                <div>
                  <h8>総合評価：
                    <span class="star-rating">
                      <span class="star-rating-front" style="width: <%= getPercent(review.star) %>%;">★★★★★</span>
                        <span class="star-rating-back">★★★★★</span>
                      </span>
                  </h8>
                </div><br>
            </td>
            <td><%= link_to "#{review.post_comments.count} コメント", public_review_path(review.id) %></td>
            <td><%= link_to "[詳細]", public_review_path(review.id) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

