<h3><%= @review.game.game_title %></h3>

<% #APIでの画像 %>
<h5>投稿のあるタグ</h5>
    容量:
      <%= Game.review.tag.name1.count(:tag_id) %>件
    機種:
      <%= Game.review.tag.name2.count(:tag_id) %>件
    価格:
      <%= Game.review.tag.name3.count(:tag_id) %>件
    BGM:
      <%= Game.review.tag.name4.count(:tag_id) %>件
    レビューが好評:
      <%= Game.review.tag.name5.count(:tag_id) %>件
    雰囲気が良さそう:
      <%= Game.review.tag.name6.count(:tag_id) %>件

<% @reviews.each do |review| %>
  <%= review.user.nick_name %><br>
  <%= review.review_title %><br>
  <div>
    <h2>総合評価：
      <span class="star-rating">
        <span class="star-rating-front" style="width: <%= getPercent(review.star) %>%;">★★★★★</span>
        <span class="star-rating-back">★★★★★</span>
      </span>
    </h2>
  </div><br>
  <%= review.review_body %><br>
  <% #コメント投稿 %>
  <% #いいね %>
<% end %>