<h3><%= @review.game.game_title %></h3>

<% #APIでの画像 %>
<h5>投稿のあるタグ集計</h5>
    容量:
      <%= Review.tags(:tag_id).group('tag_1').count %>件<br>
    機種:
      <%#= Review.tags(:tag_id).group('tag.name_2').count %>件<br>
    価格:
      <%#= Game.review.tag.name_3.count(:tag_id) %>件<br>
    BGM:
      <%#= Game.review.tag.name_4.count(:tag_id) %>件<br>
    レビューが好評:
      <%#= Game.review.tag.name_5.count(:tag_id) %>件<br>
    雰囲気が良さそう:
      <%#= Game.review.tag.name_6.count(:tag_id) %>件<br>

<% @reviews.each do |review| %><br>
  <% unless review.star.present? %>
    <%= review.user.nick_name %><br>
    <%= review.review_title %><br>
    <div>
      <h8>総合評価：
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(review.star) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
      </h8>
    </div><br>
    <%= review.review_body %><br>
    <% #コメント投稿 %>
    <% #いいね %>
  <% end %>
<% end %>