<h3><%= @review.game.game_title %></h3>

<% #APIでの画像 %>
<h5>投稿のあるタグ集計</h5>
<% Tag.all.each do |tag| %>
    <%= tag.name %>: <%= tag.reviews.count %>件<br>
<% end %>

<% @reviews.each do |review| %><br>
  <% unless review.star.present? %>
    <%= review.user.nick_name %><br>
    <%= review.review_title %><br>
    <div>
      <h8>総合評価：
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(review.star) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
      </h8>
    </div><br>
    <%= review.review_body %><br>
    <% #コメント投稿 %>
    <% #いいね %>
  <% end %>
<% end %>