<h3>購入、遊ぶ前のゲーム</h3>
  <% @review.tags.each do |tag| %>
    <% #APIでの画像 %>
    <%= @review.game.game_title %>
    <%= tag.name %>
    <%= link_to "レビューする", edit_public_review_path %>
  <% end %>
<h3>購入後、クリア後のゲーム</h3>
  <% #APIでの画像 %>
  <%= @review.star %>
  <div class="star-rating">
      <div class="star-rating-front" style="width: 50%">★★★★★</div>
      <div class="star-rating-back">★★★★★</div>
  </div>
  <%= @review.review_title %>
  <%= @review.review_body %>
