<h1>新規登録</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <%= f.label :nick_name,"ニックネーム" %>
  <%= f.text_field :nick_name, autofocus: true, autocomplete:"nick_name" %><br>
  <%= f.label :birth_date,"生年月日" %>
  <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %><br>
  <%= f.label :gender,"性別" %><br>
    <%= f.label :男性 %>
    <%= f.radio_button :gender, :"man" %>
    <%= f.label :女性 %>
    <%= f.radio_button :gender, :"woman" %>
    <%= f.label :未回答 %>
    <%= f.radio_button :gender, :"unanswered" %><br>
  <%= f.label :email,"メールアドレス" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
  <%= f.label :password, "パスワード(６文字以上)" %>
  <%= f.password_field :password, autocomplete: "new-password" %><br>
  <%= f.label :password_confirmation,"パスワード(確認用)" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br>
  <%= f.submit "新規登録" %>
<% end %>