<div class="container">
  <div class="row">
    <div class="col-3"></div>
      <h3>はじめての方は新規登録をお願いします</h3>
    </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h5><%= render "public/shared/error_messages", resource: resource %></h5>
          <div class="row">
            <div class="col-3"></div>
            <div class="form-group">
              <%= f.label :nick_name,"ニックネーム(3文字以上）" %>
              <div class="col-1"></div>
              <%= f.text_field :nick_name, autofocus: true, autocomplete:"nick_name", size: 72 %>
            </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="form-group">
              <%= f.label :birth_date,"生年月日" %>
              <div class="col-1"></div>
              <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
            </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="form-group">
                <%= f.label :gender,"性別" %>
                <div class="col-1"></div>
                <%= f.radio_button :gender, :"man" %>
                <%= f.label :男性 %>
                <%= f.radio_button :gender, :"woman" %>
                <%= f.label :女性 %>
                <%= f.radio_button :gender, :"unanswered" %>
                <%= f.label :未回答 %>
            </div>
          </diV>
          <div class="row">
            <div class="col-3"></div>
            <div class="form-group">
              <%= f.label :email,"メールアドレス" %>
              <div class="col-1"></div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 72 %>
            </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="form-group">
              <%= f.label :password, "パスワード(6文字以上)" %>
              <div class="col-1"></div>
              <%= f.password_field :password, autocomplete: "new-password", size: 72 %>
            </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="form-group">
              <%= f.label :password_confirmation,"パスワード(確認用)　" %>
              <div class="col-1"></div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 72 %>
            </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
              <%= f.submit "新規登録", class: "btn btn-primary w-50" %>
          </div>
      <% end %>
  </div>
</div>