<div class="container">
  <div class="row">
    <div class=title>
      <h3><%= @user.nick_name %>さんのユーザー詳細</h3>
    </div>
  </div>
  <div class="row">
      <div class="col-1"></div>
        会員ID:<%= @user.id %>
  </div>
  <div class="row">
      <div class="col-1"></div>
        ニックネーム:<%= @user.nick_name %>
  </div>
  <div class="row">
      <div class="col-1"></div>
        生年月日:<%= @user.birth_date.strftime("%Y年%m月%d日") %>
  </div>
  <div class="row">
      <div class="col-1"></div>
        性別:<%= @user.gender_i18n %>
  </div>
  <div class="row">
      <div class="col-1"></div>
      メールアドレス:<%= @user.email %>
  </div>
  <div class="row">
      <div class="col-1"></div>
        ステータス:
          <% if @user.is_deleted %>
              <font color="silver">退会</font>
          <% else %>
              <font color="green"><strong>有効</strong></font>
          <% end %>

  </div>
  <div class="row">
      <div class="col-1"></div>
        <%= link_to "編集する", edit_admin_user_path, class:"btn btn-primary " %>
  </div>
</div>


