<h1><%= @user.nick_name %>さんのユーザー詳細</h1>

<h7>会員ID</h7>
<%= @user.id %>
<h7>ニックネーム</h7>
<%= @user.nick_name %>
<h7>生年月日</h7>
<%= @user.birth_date.strftime("%Y年%m月%d日") %>

<h7>性別</h7>
<%= @user.gender_i18n %>
<h7>メールアドレス</h7>
<%= @user.email %>
<h7>ステータス</h7>
<%= link_to "編集する", edit_admin_user_path %>