<h1>マイページ</h1>
<p>登録内容</p>
  <h6>ユーザーID</h6>
  <%= @user.id %><br>
  <h6>ニックネーム</h6>
  <%= @user.nick_name %><br>
  <h6>生年月日</h6>
  <%= @user.birth_date.strftime("%Y年%m月%d日") %><br>
  <h6>性別</h6>
  <%= @user.gender_i18n %><br>
  <h6>メールアドレス</h6>
  <%= @user.email %><br>
  <%= link_to "登録編集", public_users_my_page_edit_path %>|
  <%= link_to "退会する", public_users_unsubsscribe_path %>

<!--投稿したゲームデータが入る-->
<h3>ゲームチェック済一覧</h3>
  <% @reviews_of_checked_games.each do |review| %>
    <% unless review.star.present? %>
      <h6>投稿日</h6>
      <%= review.created_at.strftime('%Y年%m月%d日') %>
      <h6>ゲームタイトル</h6>
      <%= review.game.game_title %>
      <%= link_to "レビューする", edit_public_review_path(review.id) %>
    <% end %>
  <% end %>
<!--レビューしたゲームデータが入る-->
<h3>ゲームクリア済一覧</h3>
  <% @reviews_of_cleared_games.each do |review| %>
    <% if review.star.present? %>
      <h6>クリアレビュー日:
      <%= review.updated_at.strftime('%Y年%m月%d日') %></h6>
      <div>
        <h6>評価：
          <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(review.star) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
          </span>
        </h6>
      </div><br>
      <h6>レビュータイトル</h6>
      <%= review.review_title %>
      <h6>レビュー文</h6>
      <%= review.review_body %><br>
        <% if review.user == current_user %>
          <%= link_to "レビュー削除", public_review_path(review.id), method: :delete %>
        <% end %>
    <% end %>
  <% end %>
