<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheets" href="application.css"/>
    <title>GameSagashi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo">Game探し</div>
      <div class="item-list">
    <% if admin_signed_in? %>
        <div class="item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-success" %>
        </div>
        <div class="item">
          <%= link_to "会員一覧", admin_users_path, class:"btn btn-outline-warning" %>
        </div>
        <div class="item">
          <%= link_to "レビュー一覧", admin_root_path, class:"btn btn-outline-danger" %>
        </div>
        <div class="item">
          <%= link_to "ゲーム一覧", admin_games_path, class:"btn btn-outline-primary" %>
        </div>
        </div>
    <% elsif user_signed_in? %>
        <div class="item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-success" %>
        </div>
        <div class="item">
          <%= link_to "ゲーム一覧", public_games_path, class:"btn btn-outline-warning" %>
        </div>
        <div class="item">
          <%= link_to "マイページ", public_users_my_page_path, class:"btn btn-outline-danger" %>
        </div>
        <div class="item">
          <%= link_to "レビュー一覧", public_reviews_path, class:"btn btn-outline-primary" %>
        </div>
    <% else%>
        <div class="item">
          <%= link_to "ゲーム一覧", public_games_path, class:"btn btn-outline-success" %>
        </div>
        <div class="item">
          <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-warning" %>
        </div>
        <div class="item">
          <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-danger" %>
        </div>
        <div class="item">
          <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
        </div>
      </div>
    <% end %>
    </header>
  </body>
  <%= yield %>

</html>
