<!DOCTYPE html>
<html>
  <head>
    <title>GameSagashi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/c7c8ae36db.js" crossorigin="anonymous"></script>
    <link rel="stylesheets" href="application.css"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo">Game探し</div>
      <div class="item-list">
    <% if admin_signed_in? %>
        <div class="item">
          <%= link_to destroy_admin_session_path, class:"btn btn-outline-success", method: :delete do %>
            <i class="fa-solid fa-right-from-bracket"></i>　ログアウト
          <% end %>
        </div>
        <div class="item">
          <%= link_to admin_users_path, class:"btn btn-outline-warning" do %>
            <i class="fa-solid fa-users"></i>　会員一覧
          <% end %>
        </div>
        <div class="item">
          <%= link_to admin_root_path, class:"btn btn-outline-danger" do %>
            <i class="fa-solid fa-clipboard"></i>　レビュー一覧
          <% end %>
        </div>
        <div class="item">
          <%= link_to admin_games_path, class:"btn btn-outline-primary" do %>
            <i class="fa-solid fa-gamepad"></i>　ゲーム一覧
          <% end %>
        </div>
        </div>
    <% elsif user_signed_in? %>
        <div class="item">
          <%= link_to destroy_user_session_path, class:"btn btn-outline-success", method: :delete do %>
            <i class="fa-solid fa-right-from-bracket"></i>　ログアウト
          <% end %>
        </div>
        <div class="item">
          <%= link_to public_games_path, class:"btn btn-outline-warning" do %>
            <i class="fa-solid fa-gamepad"></i>　ゲーム一覧
          <% end %>
        </div>
        <div class="item">
          <%= link_to public_users_my_page_path, class:"btn btn-outline-danger" do %>
            <i class="fa-solid fa-user"></i>　マイページ
          <% end %>
        </div>
        <div class="item">
          <%= link_to public_reviews_path, class:"btn btn-outline-primary" do %>
            <i class="fa-solid fa-clipboard"></i>　レビュー一覧
          <% end %>
        </div>
    <% else%>
        <div class="item">
          <%= link_to public_games_path, class:"btn btn-outline-success" do %>
            <i class="fa-solid fa-gamepad"></i>　ゲーム一覧
          <% end %>
        </div>
        <div class="item">
          <%= link_to new_user_registration_path, class:"btn btn-outline-warning" do %>
            <i class="fa-solid fa-user-plus"></i>　新規登録
          <% end %>
        </div>
        <div class="item">
          <%= link_to new_user_session_path, class:"btn btn-outline-danger" do %>
            <i class="fa-solid fa-right-from-bracket"></i>　ログイン
          <% end %>
        </div>
        <div class="item">
          <%= link_to public_guest_sign_in_path, class:"btn btn-outline-primary", method: :post do %>
            <i class="fa-solid fa-user-ninja"></i>　ゲストログイン
          <% end %>
        </div>
      </div>
    <% end %>
    </header>
  </body>
  <%= yield %>

</html>
